@media screen and (max-width: 768px) {
    #mc-toggle-concept-intro:checked ~ .mc-pane-concept-intro {
        display: block;
    }
    #mc-toggle-concept-1:checked ~ .mc-pane-concept-1 {
        display: block;
    }
    #mc-toggle-concept-2:checked ~ .mc-pane-concept-2 {
        display: block;
    }
    #mc-toggle-concept-3:checked ~ .mc-pane-concept-3 {
        display: block;
    }
    #mc-toggle-concept-4:checked ~ .mc-pane-concept-4 {
        display: block;
    }
    #mc-toggle-concept-5:checked ~ .mc-pane-concept-5 {
        display: block;
    }
    #mc-toggle-concept-6:checked ~ .mc-pane-concept-6 {
        display: block;
    }
    #mc-toggle-concept-7:checked ~ .mc-pane-concept-7 {
        display: block;
    }
    #mc-toggle-concept-8:checked ~ .mc-pane-concept-8 {
        display: block;
    }
    #mc-toggle-concept-9:checked ~ .mc-pane-concept-9 {
        display: block;
    }
    #mc-toggle-concept-10:checked ~ .mc-pane-concept-10 {
        display: block;
    }
}
