html {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: "Lato",sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
}
body {
    font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #333;
    color: #fff;
}
ul {
    margin-left: 0.45rem;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1.45rem;
    list-style-position: inside;
    list-style-image: none;
}
a {
    text-decoration: none;
    color: #fc0;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
a:hover {
    color: #da0;
}
td {
    padding: 0 10px;
}
body {
    text-align: center;
}
header .flexbox {
    display: -ms-flexbox;
    display: flex;
    height: 50px;
}
header {
    padding: 15px;
    background: darken(#333, 3%);
}
header h1, header  nav {
    display: inline-block;
}
header .flexbox {
    display: -ms-flexbox;
    display: flex;
    height: 50px;
}
header .flexbox> * {
    margin: auto;
}
header .logo {
    display: block;
}
header .logo img {
    margin-top: -7px;
}
header .search .svg-icons {
    display: none;
}
nav,  .meta {
}
nav ul,  .meta ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
}
nav li,  .meta li {
    display: inline-block;
}
.meta ul {
    margin-left: 10px;
}
.meta ul li {
    vertical-align: middle;
}
.main-nav,  .meta {
}
.main-nav li,  .meta li {
}
.main-nav li a,  .meta li a {
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 0.75em;
    padding: 0.5em 1em;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.main-nav li a:hover,  .meta li a:hover {
    background-color: #252525;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
    -o-box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.main-nav li.current,  .meta li.current {
}
.main-nav li.current a,  .meta li.current a {
    background-color: #fc0;
    color: #222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
}
.mobile-nav {
    padding: 0 5px;
}
.mobile-nav ul {
    overflow: hidden;
    width: 100%;
    display: table;
}
.mobile-nav a {
    float: left;
    width: 100%;
    background-color: #333;
    color: #fc0;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.625em;
    font-weight: 900;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.mobile-nav li {
    display: table-cell;
    width: 20%;
    padding: 8px 2px;
}
.mobile-nav .current {
}
.mobile-nav .current a {
    background-color: #fc0;
    color: #222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
}
/**
    This code is courtesy Ben Balter, modified by Parker Moore for jekyllrb.com
     http://ben.balter.com/2014/03/13/pages-anchor-links/
*/
.header-link {
    position: relative;
    left: 0.5em;
    opacity: 0;
    font-size: 0.8em;
    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -o-transition: opacity 0.2s ease-in-out 0.1s;
    transition: opacity 0.2s ease-in-out 0.1s;
}
@media (max-width: 580px) {
    header {
    }
    header .flexbox {
        height: auto;
    }
    header .logo img {
        margin-top: 0;
    }
}
@media (max-width: 699px) {
    .searchbox {
        display: none;
    }
}
@media (max-width: 768px) {
    .main-nav ul {
        text-align: right;
    }
}
@media (max-width: 830px) {
    .main-nav {
    }
    .main-nav .show-on-mobiles {
        display: inline;
    }
    .main-nav .hide-on-mobiles {
        display: none;
    }
}
@media (max-width: 890px) {
    .meta {
        display: none;
    }
}
.searchbox {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 32px !important;
    padding-top: 1px;
    white-space: nowrap;
    box-sizing: border-box;
    border: 0;
    -webkit-border-radius: 16px;
    -khtml-border-radius: 16px;
    -moz-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    visibility: visible !important;
}
.searchbox:hover {
    -webkit-box-shadow: inset 0 0 0 3px #b3b3b3;
    -moz-box-shadow: inset 0 0 0 3px #b3b3b3;
    -o-box-shadow: inset 0 0 0 3px #b3b3b3;
    box-shadow: inset 0 0 0 3px #b3b3b3;
    background-color: #fff;
    color: #333;
}
.searchbox input {
    display: inline-block;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.4s ease, background 0.4s ease;
    -moz-transition: box-shadow 0.4s ease, background 0.4s ease;
    -o-transition: box-shadow 0.4s ease, background 0.4s ease;
    transition: box-shadow 0.4s ease, background 0.4s ease;
    -webkit-box-shadow: inset 0 0 0 1px #cccccc;
    -moz-box-shadow: inset 0 0 0 1px #cccccc;
    -o-box-shadow: inset 0 0 0 1px #cccccc;
    box-shadow: inset 0 0 0 1px #cccccc;
    background: #333;
    padding: 0;
    padding-right: 26px;
    padding-left: 32px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.searchbox input:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 0 0 1px #aaaaaa;
    -moz-box-shadow: inset 0 0 0 1px #aaaaaa;
    -o-box-shadow: inset 0 0 0 1px #aaaaaa;
    box-shadow: inset 0 0 0 1px #aaaaaa;
    background-color: #fff;
    color: #333;
}
.searchbox input::placeholder {
    color: #aaaaaa;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
h1,  h2,  h3 {
    margin: 0;
    padding: 1em 0;
}
p {
    margin: 0;
    padding: 1em 0;
}
.btn {
    display: inline-block;
    background-color: #444;
    color: #fff;
    margin: .5em 0;
    padding: 1em 2em;
    text-decoration: none;
    border: 1px solid #666;
}
.btn:hover {
    background-color: #eaeaea;
    color: #444;
}
#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
}
#showcase .bg-logo {
    position: absolute;
    background: #444 url('https://wizzifactory.github.io/images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.6;
}
#showcase .bg-image {
    position: absolute;
    background: #444 url('https://images.pexels.com/photos/247791/pexels-photo-247791.png?cs=srgb&dl=ai-codes-coding-247791.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.2;
}
#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
}
#showcase .content-wrap,  #section-a .content-wrap,  #section-a2 .content-wrap,  #section-a3 .content-wrap,  #section-a4 .content-wrap {
    padding: 0 1.5em 1.5em 0;
}
.showcase-sub-title {
    margin: 50px 0;
    font-size: 24px;
}
#section-a {
    background-color: #444;
    color: #fff;
    margin: 0 auto;
    width: 70%;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
}
#section-a2 {
    background-color: #444;
    color: #fff;
    margin: 0 auto;
    width: 70%;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
}
#section-a3 {
    background-color: #444;
    color: #fff;
    margin: 0 auto;
    width: 70%;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
}
#section-a4 {
    background-color: #444;
    color: #fff;
    margin: 0 auto;
    width: 70%;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
}
#section-b {
    padding: 2em 1em 1em;
}
#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#section-b ul li {
    background-color: #444;
    margin-bottom: 1em;
    color: #fff;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
}
#section-b ul li h3 {
    color: #fc0;
}
#section-b2 {
    padding: 2em 1em 1em;
}
#section-b2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#section-b2 ul li {
    background-color: #444;
    margin-bottom: 1em;
    color: #fff;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 1px 10px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1), 0 -1px 0 rgba(0,0,0,.5);
}
#section-b2 ul li h3 {
    color: #fc0;
}
#section-b3 {
    padding: 2em 1em 1em;
    font-size: 0.8em;
}
#section-b3 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#section-b3 ul li {
    background-color: #444;
    margin-bottom: 1em;
    color: #fff;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    -o-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
#section-b3 ul li h3 {
    color: #fc0;
}
#section-b4 {
    padding: 2em 1em 1em;
}
#section-b4 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#section-b4 ul li {
    background-color: #444;
    margin-bottom: 1em;
    color: #fff;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    -o-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
#section-b4 ul li h3 {
    color: #fc0;
}
.card-content {
    padding: 1em;
}
.content-title {
    color: #fc0;
}
#section-c {
    background-color: #fff;
    color: #444;
    padding: 2em;
}
#section-d .box {
    color: #fff;
    padding: 2em;
}
#section-d .box:first-child {
    background-color: #2690d4;
}
#main-footer {
    padding: 2em;
    background-color: #000;
    color: #fff;
    text-align: center;
}
#main-footer a {
    color: #2690d4;
    text-decoration: none;
}
@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    .grid2 {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
    }
    #section-a .content-text {
        columns: 2;
        column-gap: 2em;
    }
    #section-a .content-text p {
        padding-top: 0;
    }
    #section-a2 .content-text {
        columns: 2;
        column-gap: 2em;
    }
    #section-a2 .content-text p {
        padding-top: 0;
    }
    #section-a3 .content-text {
        columns: 2;
        column-gap: 2em;
    }
    #section-a3 .content-text p {
        padding-top: 0;
    }
    #section-a4 .content-text {
        columns: 2;
        column-gap: 2em;
    }
    #section-a4 .content-text p {
        padding-top: 0;
    }
    .content-wrap,  #section-b ul {
        grid-column: 2/4;
    }
    .content-wrap,  #section-b2 ul {
        grid-column: 2/4;
    }
    .content-wrap,  #section-b3 ul {
        grid-column: 2/4;
    }
    .content-wrap,  #section-b4 ul {
        grid-column: 2/4;
    }
    .box,  #main-footer div {
        grid-column: span 2;
    }
    #section-b {
    }
    #section-b ul {
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    #section-b ul li {
        width: 19%;
    }
    #section-b2 {
    }
    #section-b2 ul {
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    #section-b2 ul li {
        width: 31%;
    }
    #section-b3 {
    }
    #section-b3 ul {
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    #section-b3 ul li {
        width: 12%;
    }
    #section-b4 {
    }
    #section-b4 ul {
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    #section-b4 ul li {
        width: 23%;
    }
}

