html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-family: roboto, verdana, tahoma, arial, sans-serif;
    line-height: 1.8em;
}
h1 {
    font-size: 2rem;
    padding: 1rem 0 0.5rem 0;
}
h2 {
    font-size: 1.5rem;
    padding: 0.6rem 0 0.3rem 0;
}
.clear {
    clear: both;
}
.pretty-table {
    margin: 2px;
}
.pretty-table td {
    padding: 5px 20px;
}
.code-panel {
    margin-bottom: 20px;
}
.code-panel h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.pln {
    color: #F1F2F3;
}
.tag {
    color: #8AC763;
}
.str {
    color: #EC7600;
}
.kwd {
    color: #f79256;
}
.com {
    color: #66747B;
}
.typ {
    color: #678CB1;
}
.lit {
    color: #FACD22;
}
.mix {
    color: #ff0040;
    cursor: pointer;
}
.tag {
    color: #8AC763;
}
.atn {
    color: #E0E2E4;
}
.atv {
    color: #EC7600;
}
.expr {
    color: #f3e877;
}
.fun {
    color: red;
}
.arg {
    color: yellow;
}
.pp-ln {
    color: #999;
}
.pp-pln {
    color: #CCC;
}
.pp-str {
    color: #EC7600;
}
.pp-kwd {
    color: #f79256;
}
.pp-com {
    color: #66747B;
}
.pp-typ {
    color: #678CB1;
}
.pp-lit {
    color: #FACD22;
}
.pp-mix {
    color: #ff0040;
    cursor: pointer;
}
.pp-tag {
    color: #8AC763;
}
.pp-atn {
    color: #E0E2E4;
}
.pp-atv {
    color: #EC7600;
}
.pp-expr {
    color: #f3e877;
}
.pp-fun {
    color: red;
}
.pp-arg {
    color: yellow;
}
pre {
    margin: 0;
}
pre.prettyprint {
    padding: 0.8rem;
    border-left: 5px solid #999;
    font-size: 1rem;
    line-height: 1.4em;
    overflow: auto;
    background: #2B3A42;
    margin-bottom: 1rem;
}
pre.prettyprint ol {
    padding-left: 2rem;
}
.L0, .L1, .L2, .L3, .L4, .L5, .L6, .L7, .L8, .L9 {
    color: #777;
    margin-left: 1rem;
    padding-left: 1rem;
    list-style-type: decimal;
}
.L1, .L3, .L5, .L7, .L9 {
    background: #555;
}
.prettyprint-js {
    background: #fff;
}
.J1, .J3, .J5, .J7, .J9 {
    background: #ddd;
}
.linenums {
    color: #fff;
}
@media screen and (max-width: 1028px) {
    .pp-pln {
        color: #FFF;
    }
    pre.prettyprint {
        padding: 1.2rem;
        border-left: 5px solid #999;
        font-size: 2rem;
        line-height: 3rem;
        overflow: auto;
    }
}
/** The basic grid contains just a few elements */
/** . container */
/** . rows */
/** . columns */
/** . gutters (the space between columns) */
/** The width of the container is generally 100%, */
/** but you might want to set a max-width for larger displays. */
.gsf-grid-container {
    width: 100%;
    max-width: 1200px;
}
/** Using the 'border-box' model, we can create gutters with ease. */
/** setting border box on all elements inside the grid */
.gsf-grid-container * {
    box-sizing: border-box;
}
/** clearfix hack -  to make sure everything inside */
/** the row stays inside the row. */
.gsf-row:before, .gsf-row:after {
    content: "";
    display: table;
    clear: both;
}
/** To prevent that empty columns will stack on top of each other */
/** we'll give our columns a min-height of 1px as well as float them. */
[class*='gsf-col-'] {
    float: left;
    min-height: 1px;
    padding: 12px;
}
/** our gutter */
/** To find the width of one column, all we have to do is divide */
/** the total number of columns by the width of the container. */
/** In our case, the width of the container is 100%, */
/** and we want 12 columns, so 100/12 = 8.333333333333334%. */
[class*='gsf-col-'] {
    width: 8.333333333333334%;
}
.gsf-col-1 {
    width: 8.333333333333334%;
}
.gsf-col-2 {
    width: 16.666666666666668%;
}
.gsf-col-3 {
    width: 25%;
}
.gsf-col-4 {
    width: 33.333333333333336%;
}
.gsf-col-5 {
    width: 41.66666666666667%;
}
.gsf-col-6 {
    width: 50%;
}
.gsf-col-7 {
    width: 58.333333333333336%;
}
.gsf-col-8 {
    width: 66.66666666666667%;
}
.gsf-col-9 {
    width: 75%;
}
.gsf-col-10 {
    width: 83.33333333333334%;
}
.gsf-col-11 {
    width: 91.66666666666667%;
}
.gsf-col-12 {
    width: 100%;
}
.gsf-sm-0 {
    margin-left: 0%;
}
.gsf-sm-1 {
    margin-left: 8.333333333333334%;
    *margin-left: 8.328333333333333%;
}
.gsf-sm-2 {
    margin-left: 16.666666666666668%;
    *margin-left: 16.66166666666667%;
}
.gsf-sm-3 {
    margin-left: 25%;
    *margin-left: 24.995%;
}
.gsf-sm-4 {
    margin-left: 33.333333333333336%;
    *margin-left: 33.32833333333333%;
}
.gsf-sm-5 {
    margin-left: 41.66666666666667%;
    *margin-left: 41.66166666666667%;
}
.gsf-sm-6 {
    margin-left: 50%;
    *margin-left: 49.995%;
}
.gsf-sm-7 {
    margin-left: 58.333333333333336%;
    *margin-left: 58.32833333333333%;
}
.gsf-sm-8 {
    margin-left: 66.66666666666667%;
    *margin-left: 66.66166666666668%;
}
.gsf-sm-9 {
    margin-left: 75%;
    *margin-left: 74.995%;
}
.gsf-sm-10 {
    margin-left: 83.33333333333334%;
    *margin-left: 83.32833333333335%;
}
.gsf-sm-11 {
    margin-left: 91.66666666666667%;
    *margin-left: 91.66166666666668%;
}
.gsf-smr-0 {
    margin-left: 0%;
}
.gsf-smr-1 {
    margin-left: 0.8333333333333334%;
    *margin-left: 0.8283333333333334%;
}
.gsf-smr-2 {
    margin-left: 1.6666666666666667%;
    *margin-left: 1.6616666666666668%;
}
.gsf-smr-3 {
    margin-left: 2.5%;
    *margin-left: 2.495%;
}
.gsf-smr-4 {
    margin-left: 3.3333333333333335%;
    *margin-left: 3.3283333333333336%;
}
.gsf-smr-5 {
    margin-left: 4.166666666666667%;
    *margin-left: 4.161666666666667%;
}
.gsf-smr-6 {
    margin-left: 5%;
    *margin-left: 4.995%;
}
.gsf-smr-7 {
    margin-left: 5.833333333333334%;
    *margin-left: 5.828333333333334%;
}
.gsf-smr-8 {
    margin-left: 6.666666666666667%;
    *margin-left: 6.661666666666667%;
}
.gsf-smr-9 {
    margin-left: 7.5%;
    *margin-left: 7.495%;
}
.gsf-smr-10 {
    margin-left: 8.333333333333334%;
    *margin-left: 8.328333333333333%;
}
.gsf-smr-11 {
    margin-left: 9.166666666666668%;
    *margin-left: 9.161666666666667%;
}
.gsf-sm-0 {
    margin-left: 0%;
}
.gsf-sm-1 {
    margin-left: 8.333333333333334%;
    *margin-left: 8.328333333333333%;
}
.gsf-sm-2 {
    margin-left: 16.666666666666668%;
    *margin-left: 16.66166666666667%;
}
.gsf-sm-3 {
    margin-left: 25%;
    *margin-left: 24.995%;
}
.gsf-sm-4 {
    margin-left: 33.333333333333336%;
    *margin-left: 33.32833333333333%;
}
.gsf-sm-5 {
    margin-left: 41.66666666666667%;
    *margin-left: 41.66166666666667%;
}
.gsf-sm-6 {
    margin-left: 50%;
    *margin-left: 49.995%;
}
.gsf-sm-7 {
    margin-left: 58.333333333333336%;
    *margin-left: 58.32833333333333%;
}
.gsf-sm-8 {
    margin-left: 66.66666666666667%;
    *margin-left: 66.66166666666668%;
}
.gsf-sm-9 {
    margin-left: 75%;
    *margin-left: 74.995%;
}
.gsf-sm-10 {
    margin-left: 83.33333333333334%;
    *margin-left: 83.32833333333335%;
}
.gsf-sm-11 {
    margin-left: 91.66666666666667%;
    *margin-left: 91.66166666666668%;
}
.gsf-outline, .gsf-outline * {
    outline: 1px solid #F6A1A1;
}
/** some extra column content styling */
[class*='gsf-col-'] > p {
    background-color: #FFC2C2;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}
.api-property-panel {
    border: 1px solid #ede;
    margin-top: 5px;
    padding: 5px 10px;
}
.api-method-panel {
    border: 1px solid #ede;
    margin-top: 10px;
    padding: 10px;
}
.api-method-section-title {
    margin-top: 10px;
    font-size: 0.9em;
    font-style: italics;
    font-weight: bold;
}
.api-method {
    background-color: #ddd;
    color: #222;
    font-size: 1.5em;
    padding: 5px 0px;
}
.api-property-panel {
    border: 1px solid #ede;
}
.api-property {
    background-color: #ddd;
    color: #222;
    font-size: 1.5em;
    padding: 5px 0px;
}
.api-property-name {
    color: #222;
    font-size: 1em;
}
.api-property-type {
    color: darkgreen;
    font-size: 0.9em;
}
.api-param-panel {
    border: 1px solid #ede;
}
.api-param-name {
    color: #222;
    font-size: 1em;
}
.api-param-type {
    color: darkgreen;
    font-size: 0.9em;
}
.api-ref-label {
    color: darkblue;
    font-size: 0.9em;
}
.api-ref {
    color: #AA5039;
    font-size: 1em;
}
.api-info-label {
    color: orange;
    font-size: 0.9em;
}
.api-info {
    color: #888;
    font-size: 1em;
}
.api-info-tag {
    color: darkred;
    font-size: 1em;
}
.api-info-name {
    color: #222;
    font-size: 1em;
}
.api-comment-api {
    color: #222;
    margin-top: 10px;
    padding: 10px;
    background-color: #ededee;
    font-size: 1em;
}
.api-comment-property {
    color: #222;
    padding: 10px;
    font-size: 0.9em;
}
.api-comment-method {
    color: #222;
    padding: 10px;
    font-size: 0.9em;
}
.api-comment-info {
    color: #222;
    padding: 10px;
    font-size: 0.9em;
}
.api-comment-array-item {
    color: #222;
    padding: 10px;
    font-size: 0.9em;
}
.api-comment-param {
    color: #222;
    font-size: 0.8em;
}
.api-comment-object-property {
    color: #222;
    font-size: 0.8em;
}
.api-comment-typed-value {
    color: #222;
    font-size: 0.8em;
}
.logo {
    background-color: #fff;
}
.logo img:hover {
    background-color: #fff;
    width: 100px;
    height: 45px;
}
#tn-input-toggle {
    display: none;
}
.tn-bar {
    background-color: #fff;
    position: fixed;
    min-width: 100%;
}
/**
    We ensure that the navigation stays at the top of the browser window by giving it a position: fixed property.
     Setting its width to min-width: 100% will ensure that the navigation spans the full width of the browser window.
*/
.tn-bar .tn-main {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 2%;
}
/** flex for logo and menu UL */
/** space-between evenly distributes the child elements within the parent flex container */
.tn-bar .tn-main .logo {
    background-color: #fff;
}
.tn-bar .tn-main .logo img {
    width: 100px;
    height: 45px;
}
.tn-bar .tn-main .logo img:hover {
    background-color: #066;
}
.tn-bar .tn-main ul {
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style-type: none;
    width: 60%;
}
/** width is required for justify-content to take effect */
.tn-bar .tn-main ul li {
    display: inline-block;
    padding: 1rem;
    font-size: 1.6rem;
    color: #333;
}
.tn-bar .tn-main ul li a {
    text-decoration: none;
}
.tn-bar .tn-main ul li a:hover {
    color: #f44;
}
.tn-bar .tn-main ul .tn-pageSelected {
    background-color: #666;
    color: #fff;
}
.tn-bar .tn-main ul .tn-pageSelected a {
    color: #fff;
}
.tn-bar .tn-main ul .tn-pageSelected a:hover {
    color: #fff;
}
.tn-bar .tn-label-toggle {
    display: none;
}
.tn-bar .tn-label-toggle-close {
    display: none;
}
.tn-bar .tn-subPages {
    background-color: #666;
    padding: 0 2rem;
    margin: 0 auto;
}
.tn-bar .tn-subPages ul {
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    list-style-type: none;
    width: 60%;
}
.tn-bar .tn-subPages ul li {
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.4rem;
}
.tn-bar .tn-subPages ul li a {
    color: #fff;
    text-decoration: none;
}
.tn-bar .tn-subPages ul li a:hover {
    color: #f44;
}
.tn-bar .tn-subPages ul .tn-subPageSelected {
    background-color: #fff;
    color: #fff;
}
.tn-bar .tn-subPages ul .tn-subPageSelected a {
    color: #666;
}
.tn-bar .tn-subPages ul .tn-subPageSelected a:hover {
    color: #666;
}
.tn-bar .tn-subPages_mobile {
    display: none;
}
@media screen and (max-width: 1028px) {
    .tn-bar {
        padding: 2.5rem 0;
    }
    .tn-bar .logo {
        display: inline-block;
    }
    .tn-bar .tn-main {
        display: block;
    }
    .tn-bar .tn-main .logo {
    }
    .tn-bar .tn-main .logo img {
        width: 200px;
        height: 90px;
        margin: -24px 0;
    }
    .tn-bar .tn-main ul {
        background-color: #333;
        display: block;
        list-style-type: none;
        opacity: 0;
        text-align: center;
        width: 100%;
        display: none;
        margin-top: 2rem;
    }
    .tn-bar .tn-main ul li {
        border-bottom: 2px solid #fff;
        color: #fff;
        display: block;
        font-size: 3rem;
        padding: 2rem 0;
    }
    .tn-bar .tn-main ul li a {
        color: #fff;
    }
    .tn-bar .tn-main ul .tn-pageSelected {
        display: block;
    }
    .tn-bar .tn-subPages {
        display: none;
    }
    .tn-bar .tn-subPages_mobile {
        display: block;
    }
    .tn-bar .tn-label-toggle {
        background: linear-gradient( to bottom, #333 0%, #333 15%, transparent 15%, transparent 35%, #333 35%, #333 50%, transparent 50%, transparent 70%, #333 70%, #333 85%, transparent 85%, transparent 100%);
        cursor: pointer;
        display: block;
        float: right;
        height: 35px;
        margin-top: 1rem;
        width: 35px;
    }
    #wrapper {
        flex-direction: column;
        position: relative;
        margin: 10px;
        height: auto;
        width: 100%;
    }
    #tn-input-toggle:checked ~ .tn-bar {
        height: 100vh;
        overflow-y: scroll;
    }
    #tn-input-toggle:checked ~ .tn-bar .tn-main ul {
        opacity: 1;
        visibility: visible;
        display: block;
    }
    #tn-input-toggle:checked ~ .tn-bar .tn-main ul li .tn-subPages_mobile ul {
        margin-top: 0.5rem;
        background-color: #999;
    }
    #tn-input-toggle:checked ~ .tn-bar .tn-main ul li .tn-subPages_mobile ul li {
        font-size: 2rem;
        padding: 2rem 0;
    }
    #tn-input-toggle:checked ~ .tn-bar .tn-label-toggle {
        display: none;
    }
    #tn-input-toggle:checked ~ .tn-bar .tn-label-toggle-close {
        color: #333;
        font-size: 70px;
        cursor: pointer;
        display: block;
        float: right;
        height: 35px;
        margin-top: 0.2rem;
        width: 35px;
    }
    #tn-input-toggle:checked ~ #mc-wrapper {
        display: none;
    }
}
#mc-wrapper {
    position: fixed;
    width: 100%;
}
.mc-wrapper-layout {
    top: 80px;
    height: calc(100% - 90px);
}
.mc-wrapper-layout-sub {
    top: 125px;
    height: calc(100% - 126px);
}
.mc-frame {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.mc-sidebar-left {
    padding: 20px 30px;
    height: calc(100% - 40px);
    min-width: 300px;
    overflow: auto;
}
.mc-sidebar-left ul {
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.mc-sidebar-left ul li {
    border-bottom: 1px solid #000;
    color: #000;
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
.mc-sidebar-left ul li a {
    color: #000;
}
.mc-sidebar-left-title {
    display: none;
}
.mc-content {
    padding: 20px 20px;
    height: calc(100% - 40px);
    overflow: auto;
}
.mc-pane {
    width: 100%;
}
.mc-pane h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0 0 0;
}
.mc-pane h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1.5rem 0 0 0;
}
.mc-pane h4 {
    font-weight: 700;
    margin: 0.5rem 0 -3px 0;
}
.mc-pane p {
    line-height: 1.3rem;
    margin-bottom: 0.5rem;
}
.mc-pane ul {
    list-style-type: disc;
    padding-left: 2rem;
}
input[id^='mc-toggle-'] {
    display: none;
}
.mc-label-toggle {
    display: none;
    cursor: pointer;
}
.mc-label-toggle-close {
    display: none;
}
@media screen and (max-width: 1028px) {
    #mc-wrapper {
    }
    #mc-wrapper .mc-frame {
        display: block;
    }
    #mc-wrapper .mc-frame .mc-sidebar-left {
        height: calc(100% - 140px);
        margin: 10px;
    }
    #mc-wrapper .mc-frame .mc-sidebar-left ul li {
        font-size: 3rem;
        border-bottom: 2px solid #000;
        padding: 2rem 0;
    }
    .mc-wrapper-layout {
        top: 7rem;
        height: calc(100% - 8rem);
    }
    .mc-wrapper-layout-sub {
        top: 7rem;
        height: calc(100% - 17rem);
    }
    .mc-frame-bar {
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        background-color: #666;
        color: #fff;
        margin: 1rem;
        padding: 1.5rem 1rem;
    }
    .mc-sidebar-left-title {
        display: block;
        padding-left: 0;
        font-size: 3rem;
    }
    .mc-label-toggle {
        display: block;
    }
    .mc-item-link {
        display: none;
    }
    .mc-pane {
        display: none;
        font-size: 1.1rem;
    }
    .mc-pane h2 {
        font-size: 1.6rem;
        font-weight: 500;
        margin: 1.5rem 0 0 0;
    }
    .mc-pane h3 {
        font-size: 1.3rem;
        font-weight: 500;
        margin: 1.2rem 0 0 0;
    }
    .mc-pane h4 {
        font-weight: 500;
        margin: 1rem 0 -3px 0;
    }
    .mc-pane p {
        line-height: 2rem;
        margin-bottom: 1rem;
    }
    .mc-content {
        height: calc(100% - 60px);
        margin: 10px;
        padding: 20px 40px;
    }
    .mc-content-title {
        display: none;
    }
    #mc-toggle-toc:checked ~ .mc-frame .mc-sidebar-left {
        display: none;
    }
    #mc-toggle-toc:checked ~ .mc-frame .mc-label-toggle-close {
        font-size: 70px;
        cursor: pointer;
        display: block;
        height: 35px;
        width: 35px;
    }
}
